<%- include("../shared/_header") %>

<div class="container mt-5 text-light">
    <h1>Create New User</h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/users" class="btn btn-primary mt-3">Back to Users</a>
</div>

<%- include("../shared/_footer") %>
