<%- include("../shared/_header") %>

<div class="container mt-5 text-light">
    <h1>
        Update User
    </h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/users" class="btn btn-primary mt-3">Back to users</a>
</div>

<%- include("../shared/_footer") %>