*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    /* outline: 1px dotted #333; */
    /* outline: 1px dotted #fff; */
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h5 {
    font-family: 'Single Day', cursive;
}

h2 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.75rem;
}

.standard-link {
    border: none;
    background-color: transparent;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity,1));
    text-decoration: underline;
    display: inline;
}

.insult-container {
    padding: 20px;
    background-color: #ffdddd;
    border: 1px solid #ffaaaa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.insult-text {
    color: #555;
    font-size: 1.2em;
    text-align: center;
}

.ca-card {
    width: 200px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    margin: 10px;
    font-size: 14px; /* Adjust font size as needed */
    font-family: Arial, sans-serif; /* Cards Against Humanity uses Helvetica Neue, but Arial is a close alternative */
}

.ca-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
}

.create-new-user{
    text-decoration: none;
    color: #00b4d8;

    border: 1px solid #00b4d8;
    border-radius: 1.5em;
    padding: 0.5em 1em;

    transition: all 0.4s ease;
}

.create-new-user:hover{
    color: #fff;
    background: #00b4d8;
}

/* Lab - 02 */
/* Header */
#header {
    width: 100%;
    height: 100%;

    background: url("../images/header.jpg");
    background-size: cover;
    /* background-position: center; */
    background-position: top 33% right 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.header-top h1,
.header-top p {
    font-family: 'Single Day', cursive;
    color: #fff;
    text-align: center;
}

.header-top h1 {
    font-size: 3rem;
}

.introduction {
    width: 50%;
    color: #fff;
    padding: 1em;

    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.introduction p {
    line-height: 1.5;
}

/* Main */
#main {
    padding: 1em;
    background: #10002b;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    gap: 2em;
}

#main .content-container {
    width: 80%;
    max-height: fit-content;
    color: #fff;
    margin: 0 auto;

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: all 0.4s ease;
}

.content-container-nav {
    max-width: 100%;
    padding: 0.5em;

    background: #3c096c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    display: flex;
    gap: 0.5em;
}

.content-container-nav-button {
    color: #fff;
    background: #7b2cbf;
    font-size: 1rem;

    border: none;
    border-radius: 7px;
    padding: 0.5em;
    cursor: pointer;

    overflow: hidden;
    transition: all 0.4s ease;
}

.content-container-nav-button:hover {
    background: #5a189a;
}

.content-container-nav-button:focus {
    background: #5a189a;
}

.content-container .content {
    background: #240046;

    padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.conclusion {
    color: #fff;
    padding-bottom: 3em;
    border-bottom: 1px solid #ffffff30;
}

/* Card */
.latest-created-question-card,
.latest-updated-question-card {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.latest-updated-question-card {
    padding-bottom: 3em;
}

.latest-created-question-card>p,
.latest-updated-question-card>p {
    width: 40%;
    text-align: center;
    line-height: 1.5;
}


.card {
    width: 400px;
    color: #fff;
    background: none;
}

.card-content {
    text-align: center;
    position: relative;
    padding: 15em 7em;
    border-radius: 17px;
    transition: transform 2s;
    background: #212529;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-content {
    transform: rotateY(.5turn);
    /* .5turn => 180deg */
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    border-radius: 17px;
}

.card-front::before {
    content: "";
    width: 90%;
    height: 90%;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 17px;
    transform: translateZ(2rem);
}

.card-back::before {
    content: "";
    width: 95%;
    height: 95%;
    position: absolute;
    border: 2px solid #ffffff30;
    border-radius: 17px;
    transform: translateZ(2rem);
}

.card-front-title {
    font-size: 3rem;
    transform: translateZ(6rem);
    letter-spacing: 1.1px;
}

.card-front-subtitle {
    transform: translateZ(4rem);
}

.card-back-body {
    transform: translateZ(5rem);
    font-size: 1.25rem;
}

.card-back {
    transform: rotateY(.5turn);
    background: #000814;
}

/* Code Example */

.code-examples {
    padding: 3em 0;
    border-top: 1px solid #ffffff30;
    border-bottom: 1px solid #ffffff30;

    color: #fff;
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    overflow: scroll;
}

.code-examples::-webkit-scrollbar {
    display: none;
}

.code-examples h2 {
    text-align: center;
}

pre {
    background: #2209015b;
    backdrop-filter: blur(5px);
    width: fit-content;

    padding: 1em;
    border-radius: 17px;
    /* margin: 0 auto; */
}

/* Footer */
footer {
    font-family: 'Cedarville Cursive', cursive;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 4rem;
}

/* Lab-03 */
/* User Info Card */
.users-container {
    width: 100%;

    display: grid;
    place-items: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    padding: 2em 1em;
}

.user-card {
    width: 350px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 0.75em;
    border: 1px solid #f0f0f0;
    border-radius: 13px;

    box-shadow: 2px 2px 25px #f0f0f0;
}

.user-card-info {
    display: flex;
    gap: 1em;
}

.user-card-info-avatar {
    flex: 1;

    display: grid;
    place-items: center;
}

.user-card-info-avatar img {
    width: 75px;
    height: 75px;

    border-radius: 50%;
}

.user-card-info-names {
    flex: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;

    line-height: 1.5;
}

.user-card-info-names p:nth-of-type(1) {
    font-weight: bold;
}

.user-card-info-names p:nth-of-type(2),
.user-card-info-names p:nth-of-type(3) {
    color: #b6b6b6;
}

.user-card-info-names p:nth-of-type(3) {
    font-style: italic;
}

.user-card-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 0.55em;
    border-top: 1px solid #f0f0f0;
}

.user-card-action a {
    text-decoration: none;
}

.user-card-action-show {
    color: #00b4d8;
}

.user-card-action-edit {
    color: #ffb703;
}

.user-card-action-delete-form button{
    background: none;
    border: none;

    cursor: pointer;
}

.user-card-action-delete {
    color: #e63946;
}