<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Create New Post</h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/posts">Back to posts</a>
</div>

<%- include("../shared/_footer") %>