<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Create New Comment</h1>

    <hr class="my-5">

    <%- include("./_form") %>

    <a href="/comments">Back to comments</a>
</div>

<%- include("../shared/_footer") %>
